.exchange-screen {
    width: 40%;
    height: 100%;
    margin: auto;

    &__direction {
        background-color: #1251a0;
    }

    &__arrow {
        width: 0;
        height: 0;
        margin: auto;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-top: 10px solid #1672bf;
    }

    &__source-currency, &__target-currency {
        height: 50%;

        .carousel, .slider, .slider-wrapper, .slide {
            height: 100%;
            text-align: left;
        }

        .control-dots {
            padding-left: 0;
        }
    }

    &__source-currency {
        .carousel .slide {
            background-image: url('./images/source-currency-background.jpg');
            background-size: cover;
        }
    }

    &__target-currency {
        .carousel .slide {
            background-color: #1251a0;
        }
    }
}

@media (--small-only), (--medium-only) {
    .exchange-screen {
        width: 100%;

        &__source-currency {
            height: 35%;
        }

        &__target-currency {
            height: 65%;
        }
    }
}
