.target-currency-slide {
    &__currency {
        margin: 55px 50px;
    }

    &__currency-amount, &__exchanging-amount {
        display: inline-block;
        vertical-align: top;
    }

    &__currency-amount {
        width: 55%;
    }

    &__exchanging-amount {
        margin-top: -15px;
        width: 45%;
        float: right;
        font-size: 30px;
    }

    &__account-amount, &__amount, .icon {
        opacity: .6;
        vertical-align: middle;
    }

    &__operation {
        width: 5%;
    }

    &__converted-amount, &__rates {
        width: 85%;
    }

    &__rates {
        text-align: right;
        margin-top: 10px;
    }
}

@media (--small-only), (--medium-only) {
    .target-currency-slide {
        &__currency {
            margin: 55px 30px;
        }
    }
}
