.target-currency-slide {
    &__currency {
        margin: 55px 50px;
    }

    &__currency-amount, &__exchanging-amount {
        display: inline-block;
        vertical-align: top;
    }

    &__currency-amount {
        width: 40%;
    }

    &__exchanging-amount {
        text-align: right;
        width: 55%;
        float: right;
    }

    &__account-amount, &__rates, .icon {
        opacity: .6;
    }

    &__operation {
        margin-right: 10px;
        width: 5%;
    }

    &__converted-amount {
        width: 85%;
    }
}

@media (--small-only), (--medium-only) {
    .target-currency-slide {
        &__currency {
            margin: 55px 30px;
        }
    }
}
